.header {
	color: #ffffff;
	background: url("../images/first_section/bg.jpg");
	h1 {
		padding: 0;
		margin: 0;
	}
	.logoplace {
		margin-top: 52px;
		margin-bottom: 107px;
	}
}

.logo {
	margin-left: 31px;
}

.appstore {
	margin-right: 31px;
	img {
		margin-top: 3px;
	}
}

.section_title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 32px;
	h2 {
		font-size: 46px;
		font-family: prosto, sans-serif;
		margin: 0;
		line-height: 46px;

	}
	.small {
		margin-bottom: 30px;
		font-size: 25px;
		color: #cac9ee;
		line-height: 25px;

	}
}

.proposal {
	margin-top: 45px;
	p {
		width: 175px;
		font-size: 16px;
		line-height: 24px;
		display: block;
		margin: 0 0 30px 0;
	}
	.left_side {
		text-align: right;
		margin-right: 52px;
	}
	.right_side {
		text-align: left;
		margin-left: 52px;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	.left_side, .right_side {
		p:first-child {
			padding-top: 79px;
		}
	}
}

//SECOND SECTION

.how_connect {
	color: #050708;
	.section_title {
		margin-top: 113px;
		margin-bottom: 23px;
	}
	.how_to{
		text-align: center;
		color: #c3c3c3;

	}
}
.second_title{

}
//tabs
.nav-tabs{
	border: none;
	margin-top: 50px;
	max-width: 950px;

	a{
		color: #050708;
		font-family: opensans-regular, sans-serif;
		font-weight: 700;
	}
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border: none;
	border-radius: 5px;
	background-color:  #f1ebf2;
	color: #050708;
}
.nav-tabs>li>a:hover{
	border:1px solid transparent;
	background-color:  #f1ebf2;
	border-radius: 5px;
}
.nav>li>a{
	padding: 15px 42px 12px 44px;
}

#home{
	margin-top: 35px;
	img{
		display: block;
	}
}