/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

	.tab-content .img {
		float: none;
		//margin: 0 auto;
	}
	.how_connect_info {
		//margin: 0 auto;
	}
	.tab-content .how_connect_info {
		padding: 35px 0 0 12px;
	}
	.nav-tabs {
		margin: 25px auto 0;

	}
	nav > li > a {
		padding: 10px 5px;

	}
	.nav-tabs > li > a {
		margin-right: 0;
	}
	#myTabs2 {
		float: none;
		margin: 37px 0 -43px -48px;
		a {
			margin-left: -25px;
			z-index: 1;

		}
		p, h3 {
			margin-left: 36px;
		}
		li.active a {
			text-decoration: none;
			background: #de4dac;

		}
		ul, li {
			list-style: none;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1440px) {
	.copiright {
		margin-left: 113px !important;

	}
	.img_2 {
		display: block;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 100;
	}
}

@media only screen and (max-width: 1090px) {
	.proposal {
		position: relative;
		.left_side {
			text-align: left;
			margin-right: 0;
			float: none;

		}
		.right_side {
			text-align: left;
			margin-left: 0;
			float: none;
		}
		.right_side, .left_side {
			margin-left: 36px;
		}
	}
	.proposal .left_side p:first-child, .proposal .right_side p:first-child {
		padding-top: 0;
	}
	.img_first_section {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.proposal p {
		width: auto;
		max-width: 273px;
		font-size: 24px;
	}
	//SECOND SCREEN
	.nav-tabs {
		text-align: justify;
		&:after {
			content: "";
			width: 100%;
			height: 0;
			display: inline-block;
		}

	}
	.nav > li > a {
		padding: 10px;

	}
	.nav-tabs > li > a {
		margin-right: 0;

	}
	.nav-tabs > li {
		float: none;
		display: inline-block;
	}
	//thid
	.facilities_content .tab-content {

	}
	.tab-content .img_2 {
		display: block;
		position: absolute;
		/* left: 0; */
		right: 0;
		z-index: 100;
		margin: 0;

	}

	#myTabs2 {
		float: none;
		margin: 37px 0 -43px -48px;
		a {
			margin-left: -25px;
			z-index: 1;

		}
		p, h3 {
			margin-left: 36px;
		}
		li.active a {
			text-decoration: none;
			background: #de4dac;

		}
		ul, li {
			list-style: none;
		}
	}

	#stiky_el{
		transition: all .7s;
	}

}