section.how_connect
	.container
		.row.second_title
			.section_title
				h2 Как подключится?
			.how_to Всего 4 шага — и вы забудете про кошельки, онлайн-банки, оплату наличными в кассе или терминале!
			.how_to Совершайте платежи по-новому — быстро и просто!

		.row
			#myTabs
				ul.nav.nav-tabs.center-block(role="tablist")
					li.active(role="presentation")
						a(href="#home" aria-controls="home" role="tab" data-toggle="tab") Скачайте приложение
					li(role="presentation")
						a(href="#second" aria-controls="second" role="tab" data-toggle="tab") Зарегистрируйся
					li(role="presentation")
						a(href="#second" aria-controls="second" role="tab" data-toggle="tab") Укажи способы оплаты
					li(role="presentation")
						a(href="#second" aria-controls="second" role="tab" data-toggle="tab") Пользуйся!

				// Tab panes
				.tab-content
					div#home.tab-pane.fade.in.active(role="tabpanel")
						.container
							.col-md-6
								img(src="images/second_section/iphone2.png" alt=" ")
							.col-md-6
								h3 Безопасная регистрация
								p Введи номер телефона. После этого тебе придёт SMS со специальным кодом. Придумай пароль.Теперь ты можешь пользоваться приложением!И другой текст о безопасности, в котором лучшесделать акцент на преимуществах, а неинструктировать пользователя.
					div#second.tab-pane.fade(role="tabpanel")
						.container
							.col-md-6
								img(src="images/second_section/iphone2.png" alt=" ")
							.col-md-6
								h3 Безопасная регистрация
								p Введи номер телефона. После этого тебе придёт SMS со специальным кодом. Придумай пароль.Теперь ты можешь пользоваться приложением!И другой текст о безопасности, в котором лучшесделать акцент на преимуществах, а неинструктировать пользователя.
