section.how_connect
	.container
		.row.second_title
			.section_title
				h2 Как подключится?
			.how_to Всего 4 шага — и вы забудете про кошельки, онлайн-банки, оплату наличными в кассе или терминале!
			.how_to Совершайте платежи по-новому — быстро и просто!

		.row
			#myTabs
				ul.nav.nav-tabs.center-block(role="tablist")
					li.active(role="presentation")
						a(href="#download" aria-controls="home" role="tab" data-toggle="tab") Скачайте приложение
					li(role="presentation")
						a(href="#register" aria-controls="second" role="tab" data-toggle="tab") Зарегистрируйся
					li(role="presentation")
						a(href="#payment" aria-controls="second" role="tab" data-toggle="tab") Укажи способы оплаты
					li(role="presentation")
						a(href="#profit" aria-controls="second" role="tab" data-toggle="tab") Пользуйся!

				// Tab panes
				.tab-content
					div#download.tab-pane.fade.in.active(role="tabpanel")
						.container
							.content_tab
								.col-md-6
									img.img.pull-right.animation_2(src="images/second_section/1.png" alt="Безопасная регистрация")
								.col-md-6
									.how_connect_info.animation_3
										h3 Безопасная регистрация
										p Введи номер телефона. После этого тебе придёт SMS со специальным кодом. Придумай пароль.Теперь ты можешь пользоваться приложением! И другой текст о безопасности, в котором лучшесделать акцент на преимуществах, а не инструктировать пользователя.
					div#register.tab-pane.fade(role="tabpanel")
						.container
							.content_tab
								.col-md-6
									img.img.pull-right.animation_2(src="images/second_section/2.png" alt="Зарегистрируйся")
								.col-md-6
									.how_connect_info.animation_3
										h3 Безопасная регистрация
										p Введи номер телефона. После этого тебе придёт SMS со специальным кодом. Придумай пароль.Теперь ты можешь пользоваться приложением! И другой текст о безопасности, в котором лучшесделать акцент на преимуществах, а не инструктировать пользователя.

					div#payment.tab-pane.fade(role="tabpanel")
						.container
							.content_tab
								.col-md-6
									img.img.pull-right.animation_2(src="images/second_section/3.png" alt="Укажи способы оплаты")
								.col-md-6
									.how_connect_info.animation_3
										h3 Безопасная регистрация
										p Введи номер телефона. После этого тебе придёт SMS со специальным кодом. Придумай пароль.Теперь ты можешь пользоваться приложением! И другой текст о безопасности, в котором лучшесделать акцент на преимуществах, а не инструктировать пользователя.
					div#profit.tab-pane.fade(role="tabpanel")
						.container
							.content_tab
								.col-md-6
									img.img.pull-right.animation_2(src="images/second_section/4.png" alt="Пользуйся!")
								.col-md-6
									.how_connect_info.animation_3
										h3 Безопасная регистрация
										p Введи номер телефона. После этого тебе придёт SMS со специальным кодом. Придумай пароль.Теперь ты можешь пользоваться приложением! И другой текст о безопасности, в котором лучшесделать акцент на преимуществах, а не инструктировать пользователя.
section.facilities
	.container
		.row.third_title
			.section_title
				h2 Возможности
		.row.facilities_content
			.col-md-4.col-sm-6
				#myTabs2.facilities_text.animation_2.pull-right
					ul(role="tablist")
						li.active(role="presentation")
							a(href="#one" aria-controls="second" role="tab" data-toggle="tab" )
								h3   Переведи дургу
								p    Выбери друга в адресной книге,нажми на «Отправить» Введи сумму.И друг получил заветную сумму
						li(role="presentation")
							a(href="#two" aria-controls="second" role="tab" data-toggle="tab")
								h3   Обсуждай траты
								p     Создай чат с другом или членом семьи Обсудите, что хотите купить Попросите оплатить эту покупку
						li(role="presentation")
							a(href="#three" aria-controls="second" role="tab" data-toggle="tab")
								h3   Плати за услуги онлайн
								p    Выбери сервис, за который хочешь  заплатить, в каталоге. Введи сумму для оплаты.Платеж совершен!

			.col-md-4.col-sm-6
				.tab-content
					div#one.tab-pane.active(role="tabpanel")
						img.img_2.animation_1(src="images/third_section/3-1.png" alt="iphone")
					div#two.tab-pane(role="tabpanel")
						img.img_2.animation_1(src="images/third_section/3-2.png" alt="iphone")
					div#three.tab-pane(role="tabpanel")
						img.img_2.animation_1(src="images/third_section/3-3.png" alt="iphone")
					div#four.tab-pane(role="tabpanel")
						img.img_2.animation_1(src="images/third_section/3-4.png" alt="iphone")
					div#five.tab-pane(role="tabpanel")
						img.img_2.animation_1(src="images/third_section/3-5.png" alt="iphone")
					div#six.tab-pane(role="tabpanel")
						img.img_2.animation_1(src="images/third_section/3-6.png" alt="iphone")
			.col-md-4.col-sm-6
				#myTabs3.facilities_text.animation_3
					ul(role="tablist")
						li(role="presentation")
							a(href="#four" aria-controls="second" role="tab" data-toggle="tab")
								h3   Собирай на подарок коллегам
								p    Задаем сумму, отправляем напоминания  всем коллегам, в чате можно обсудить  покупку и проголосовать за нее
						li(role="presentation")
							a(href="#five" aria-controls="second" role="tab" data-toggle="tab")
								h3   Планируй траты
								p    Не забывай оплатить за квартиру или  интернет вовремя! Запланируй траты в  календаре, чтобы распределить финансы
						li(role="presentation")
							a(href="#six" aria-controls="second" role="tab" data-toggle="tab")
								h3   Учитывай расходы
								p    Просматривай полный отчет о затратах в удобном формате, чтобы наконец-то  начать экономить на важное и нужное!




