//Footer
footer
	.container
		.wrapper-footer.clearfix
			.col-md-4.col-sm-4
				.copiright.clearfix &copy; LetMePay
					.social-icons
						a.fb(href="#")
						a.vk(href="#")
			.col-md-4.col-sm-4
				.footer_menu
					ul
						li
							a(href="#") FAQ
						li
							a(href="#") Тарифы и условия
						li
							a(href="#") Контакты и поддержка
			.col-md-4.col-sm-4
				.fb-wrapper
//End footer


