//Footer
footer
	.container
		.wrapper-footer.clearfix
			.copiright &copy; LetMePay
				.social-icons.clearfix
					a.fb(href="#")
					a.vk(href="#")
			.footer_menu
				ul
					li
						a(href="#") FAQ
					li
						a(href="#") Тарифы и условия
					li
						a(href="#")    Контакты и поддержка
			.fb-wrapper
//End footer


