//Header
section.header
	.container
		.row.logoplace
			.logo.pull-left
				h1
					a(href="#")
						img(src="images/first_section/logo.png" alt="letmepay logo")
			.appstore.pull-right
				a(href="#")
					img(src="images/first_section/appStoreBadge.png" alt="appStoreBadge")
		.row.section_title
			h2.small удобное приложение
			h2 для переводов друзьям
		.row.proposal
			.col-md-4
				.pull-right.left_side
					p Отправляй деньги друзьям в один клик
					p Плати за услуги онлайн
					p Обсуждай траты в чате с семьей и друзьями
			.col-md-4
				img(src="images/first_	section/iphone.png" alt="iphone")
			.col-md-4
				.pull-left.right_side
					p Собирай на подарок коллеге или другу
					p Планируй траты и учитывай расходы
					p Скачай бесплатно

//End header
